@import 'reset';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;600;900&family=Yuji+Boku&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
}

$breakpoints: (
        'sm': 'screen and (max-width: 600px)',
        'md': 'screen and (min-width: 601px)'
) !default;

@mixin mq($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

//color
$gray-1: #e6ecf0;
$gray-2: #d4dade;
$gray-3: #bdc2c7;
$gray-4: #a3a7ab;
$gray-5: #7f8486;
$gray-6: #5e6064;
$gray-7: #3d3d41;

$white-1: darken(white, 1%);
$white-2: darken(white, 2%);
$white-3: darken(white, 3%);
$white-4: darken(white, 4%);
$white-5: darken(white, 5%);

$black-1: lighten(black, 1%);
$black-2: lighten(black, 2%);
$black-3: lighten(black, 3%);
$black-4: lighten(black, 4%);
$black-5: lighten(black, 5%);
